<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Articulos</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="row">

      <div class="col-12">
        <!-- --------------------------------------------------- -->
        <!-- List with sections -->
        <!-- --------------------------------------------------- -->
        <mat-card class="b-1 shadow-none">
          <mat-card-header>
            <mat-card-title>ID Nombre Ultima actualizacion Descripcion Categoria Cantidad </mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <mat-list class="custom-list">
              <mat-list-item *ngFor="let folder of folders" class="custom-list-item">
                <div class="mat-list-item-content">
                  <mat-icon matListItemIcon>folder</mat-icon>
                  <div matListItemLine class="f-s-14 mat-body-1">{{ folder.id }}</div>
                  <div matListItemLine class="f-s-14 mat-body-1">{{ folder.name }}</div>
                  <div matListItemLine class="f-s-14 mat-body-1">{{ folder.updated | date }}</div>
                  <div matListItemLine class="f-s-14 mat-body-1">{{ folder.description }}</div>
                  <div matListItemLine class="f-s-14 mat-body-1">{{ folder.class }}</div>
                  <div matListItemLine class="f-s-14 mat-body-1">{{ folder.cost }}</div>
                  <div matListItemLine class="f-s-14 mat-body-1">{{ folder.cant }}</div>
                </div>
              </mat-list-item>            
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<style>
.custom-list {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Adjust the spacing between items */
}

.custom-subheader {
  margin-bottom: 8px; /* Adjust margin bottom to align with items */
}

.custom-list-item {
  padding: 16px; /* Optional: Add padding to each list item for spacing */
}

.mat-list-item-content {
  display: flex;
  align-items: center; /* Vertical alignment of items */
}

.mat-list-item-content mat-icon {
  margin-right: 16px; /* Adjust spacing between icon and text */
}

.mat-list-item-content > *:not(mat-icon) {
  flex: 1; /* Allow text content to take remaining space */
}

</style>