<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Articulos</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="row">
      <div class="col-12">
        <mat-card class="b-1 shadow-none">
          <mat-card-content class="b-t-1">
            <button mat-flat-button color="warn" [disabled]="!hasSelectedItems()" (click)="deleteSelected()">Borrar seleccionados</button>
            <mat-list class="custom-list">
              <mat-list-item *ngFor="let folder of dataSource" class="custom-list-item">
                <div class="mat-list-item-content">
                  <mat-checkbox [checked]="folder.selected" (change)="toggleSelection(folder)"></mat-checkbox>
                  <div matListItemLine class="f-s-14 mat-body-1">{{ folder.nombre }}</div>
                  <div matListItemLine class="f-s-14 mat-body-1">{{ folder.updated | date }}</div>
                  <div matListItemLine class="f-s-14 mat-body-1">{{ folder.descripcion }}</div>
                  <div matListItemLine class="f-s-14 mat-body-1">{{ folder.categoria }}</div>
                  <div matListItemLine class="f-s-14 mat-body-1">{{ folder.precio }}</div>
                  <div matListItemLine class="f-s-14 mat-body-1">{{ folder.cantidad }}</div>
                  <button mat-flat-button class="f-s-14 mat-body-1" color="primary" matTooltip="Edit" (click)="editFolder(folder)">Editar
                  </button>
                </div>
              </mat-list-item>            
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<style>
.custom-list {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Adjust the spacing between items */
}

.custom-list-item {
  padding: 16px; /* Optional: Add padding to each list item for spacing */
}

.mat-list-item-content {
  display: flex;
  align-items: center; /* Vertical alignment of items */
}

.mat-list-item-content mat-icon {
  margin-right: 16px; /* Adjust spacing between icon and text */
}

.mat-list-item-content > *:not(mat-icon) {
  flex: 1; /* Allow text content to take remaining space */
}
</style>
