<div class="blank-layout-container justify-content-center bg-light-primary">
    <div class="position-relative row w-100 h-100 bg-gredient">
        <a (click)="addProduct()" mat-flat-button color="primary" class="w-100">
            Agregar Producto
        </a>
            <mat-table #table [dataSource]="dataSource">
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef> Id. </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nombre">
                    <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="descripcion">
                    <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="categoria">
                    <mat-header-cell *matHeaderCellDef> Categoría </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.categoria}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="precio">
                    <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.precio}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="fecha">
                    <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.fecha}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button color="warn" mat-raised-button (click)="addProduct()">Editar</button>
                        <button color="accent" mat-raised-button (click)="addProduct()">Eliminar</button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
    </div>
</div>
